@use "../abstracts" as *;

.hero {
  display: flex;
  aspect-ratio: 2;
  min-height: 52rem;

  @include respond(xs) {
    flex-direction: column;
    aspect-ratio: unset;
    margin-top: 4rem;
  }

  & > div {
    width: 50%;

    @include respond(xs) {
      width: 100%;
    }
  }

  & > .blob-container {
    left: 0;

    & > .blob:first-child {
      top: -16.4rem;
      left: 13rem;

      @include respond(xs) {
        left: unset;
        right: 3rem;
      }
    }

    & > .blob:last-child {
      top: -13.3rem;
      left: -17.5rem;

      @include respond(xs) {
        left: -13rem;
      }
    }
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 18.2rem;

  @include respond(md) {
    margin-top: 14rem;
  }

  @include respond(sm) {
    margin-top: 10rem;
  }

  & > * {
    max-width: 50rem;

    @include respond(xl) {
      max-width: 55rem;
    }

    @include respond(md) {
      max-width: 45rem;
    }

    @include respond(sm) {
      max-width: 40rem;
    }

    @include respond(xs) {
      max-width: unset;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    @include respond(xl) {
      margin-bottom: 2.8rem;
    }

    @include respond(md) {
      margin-bottom: 2rem;
    }

    @include respond(sm) {
      margin-bottom: 1.6rem;
    }

    @include respond(xs) {
      margin-bottom: 2.4rem;
      text-align: center;
    }

    & > span {
      color: $color-primary;
    }
  }

  @include respond(xs) {
    & > .text {
      text-align: center;
    }
  }

  &__searchbar {
    margin: 3.2rem 0;

    @include respond(xl) {
      margin: 4rem 0;
    }

    @include respond(md) {
      margin: 2.4rem 0;
    }

    @include respond(sm) {
      margin: 1.6rem 0;
    }

    @include respond(xs) {
      margin: 3.2rem 0;
    }

    & > div:first-child > .icon {
      width: 2.4rem;
      aspect-ratio: 1;
      margin-left: 2.4rem;
    }

    & > div:last-child > .btn {
      align-self: stretch;
      margin: 0.4rem;
    }
  }

  &__partners {
    display: flex;
    align-items: top;
    gap: 3.2rem;
    margin-top: 0.8rem;

    @include respond(xs) {
      justify-content: center;
    }

    & > img {
      height: 6.4rem;
    }
  }
}

.stats {
  position: relative;

  &__bg-image {
    position: relative;
    width: 50%;
    height: 100%;

    @include respond(xs) {
      display: none;
    }

    img {
      width: 50vw;
      height: 100%;
      object-fit: cover;
      position: absolute;
      border-bottom-left-radius: 7.5vw;
    }
  }

  &__container {
    margin-left: 4.8rem;
    bottom: 4.8rem;
    max-width: calc(50vw - 4.8rem);
    z-index: 3;
    position: absolute;
    display: flex;
    overflow-x: hidden;

    @include respond(md) {
      bottom: 6rem;
    }

    @include respond(sm) {
      bottom: 7.2rem;
    }

    @include respond(xs) {
      position: relative;
      margin: 3.2rem 0 3.2rem 0;
      max-width: unset;
      bottom: 0;
      justify-content: center;
    }
  }

  &__track {
    display: flex;
    gap: 1.6rem;

    @include respond(xs) {
      gap: 3.2rem;
    }
  }

  &__item {
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    gap: 1.6rem;
    border-radius: 3.2rem;
    padding: 2.4rem;

    @include respond(md) {
      gap: 1.2rem;
      padding: 2rem;
    }

    @include respond(sm) {
      gap: 0.8rem;
      padding: 1.6rem;
    }

    @include respond(xs) {
      background-color: transparent;
      padding: 0;
      flex-shrink: 1;
    }

    &_icons {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > img {
        width: 5.6rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 0.3rem solid $color-white;
        object-fit: cover;

        @include respond(md) {
          width: 4.8rem;
        }

        @include respond(sm) {
          width: 4.2rem;
        }

        @include respond(xs) {
          width: 4.8rem;
        }
      }

      @for $i from 1 through 3 {
        & > img:nth-child(#{$i}) {
          transform: translateX(#{($i - 1) * -50%});
        }
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
    }
  }

  &__item:first-child > div:first-child,
  &__item:nth-child(4) > div:first-child {
    width: 5.6rem * 2;

    @include respond(md) {
      width: 4.8rem * 2;
    }

    @include respond(sm) {
      width: 4.2rem * 2;
    }

    @include respond(xs) {
      width: 4.8rem * 2;
    }
  }
}
