@use "../abstracts" as *;

.input {
  width: 100%;
  border-radius: 3rem;
  outline: 0;
  border: 1px solid $color-grey-1;
  padding: 1.6rem 2.4rem;
  transition: all 0.2s ease;

  &:hover {
    border-color: $color-primary-light;
  }

  &:focus,
  &:focus-visible {
    border-color: $color-primary;
  }
}

.complex-input__adornment--start + .input--complex {
  padding-left: 6.4rem;
}

.input--complex:has( + .complex-input__adornment--end) {
  padding-right: 14rem;
}

.input,
.input::placeholder {
  color: $color-grey-2;
  font-weight: $medium-font;
  font-size: 0.875 * $default-font-size;
  line-height: 2.4rem;
}

.complex-input-container {
  position: relative;
  width: 100%;

  & > .complex-input__adornment {
    &--start, &--end {
      position: absolute;
      top: 0;
      height: 100%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &--start {
      left: 0;
    }

    &--end {
      right: 0;
    }
  }
}
