@use "sass:map";
@use "sass:meta";

/*
MEDIA QUERY MANAGER

800 - 1040px:   xs
1040 - 1280px:  sm
1280 - 1440px:  md
1440 - 1600px:  lg - default
1600 - 1728:    xl
*/

$breakpoints: (
  xs: 65em,
  sm: 80em,
  md: 90em,
  lg: 100em,
  xl: 100em
);

@mixin respond($breakpoint, $type: min) {

  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @if $breakpoint == xl {
      @media only screen and (min-width: $value) {
        @content;
      }
    } @else {
      @media only screen and (max-width: $value) {
        @content;
      }
    }
  }

  @else if type-of($breakpoint) == number {
    @media only screen and (#{$type}-width: calc($breakpoint * 1em)) {
      @content;
    }
  }
}