// COLORS
$color-primary: #10B981;
$color-primary-light: #D1FAE5;
$color-primary-dark: #0B9567;
$color-secondary: #F59E0B;

$color-white: #FFFFFF;
$color-grey-1: #E0E3EB;
$color-grey-2: #888B97;
$color-grey-3: #626687;
$color-black: #1B1C57;

$color-danger: #EF4444;
$color-danger-light: #FEE2E2;
$color-info: #1D4ED8;
$color-info-light: #DBEAFE;

// FONT
$default-font-size: 1.6rem;

$default-font-weight: 400;
$light-font-weight: 200;
$semibold-font-weight: 500;
$bold-font-weight: 700;
$bolder-font-weight: 900;