@use "../abstracts" as *;
@use "sass:map";

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: $default-font-size;
  font-weight: $regular-font;
  font-style: normal;
  line-height: 1.4;
  color: $color-black;
}

$headings: (
  h1: (
    size: 2.5 * $default-font-size,
    weight: $black-font,
  ),
  h2: (
    size: 2 * $default-font-size,
    weight: $semi-bold-font,
  ),
  h3: (
    size: 1.5 * $default-font-size,
    weight: $medium-font,
  ),
  h4: (
    size: 1.25 * $default-font-size,
    weight: $semi-bold-font,
  ),
);

@each $name, $props in $headings {
  #{$name},
  .#{$name} {
    font-size: map.get($props, size);
    font-weight: map.get($props, weight);
    text-transform: capitalize;
  }
}

.subtitle {
  font-size: 1.125 * $default-font-size;
  font-weight: $medium-font;
}

.text {
  font-size: $default-font-size;
  color: $color-grey-3;
  font-weight: $medium-font;
  line-height: 2.4rem;

  &--small {
    font-size: 0.75 * $default-font-size;
  }

  &--light {
    font-weight: $light-font;
  }

  &--bold {
    font-weight: $semi-bold-font;
  }
}

label,
.label {
  font-size: 0.875 * $default-font-size;
  line-height: 2.4rem;
}

.label {
  &--small {
    font-size: 0.875 * $default-font-size;
  }

  &--medium {
    font-weight: $medium-font;
  }

  &--bold {
    font-weight: $semi-bold-font;
  }
}
